<%- include ('../partials/header') -%>
<nav
  class="navbar navbar-expand-lg navbar-lighter"
  style="background-color: #e60008"
>
  <div class="container-fluid">
    <a style="color: #fff" class="navbar-brand">Restauran Reservation</a>
  </div>
</nav>

<div class="container p-4">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        <h3>Editar Usuario</h3>
      </div>
      <div class="card-body">
        <form action="/users/edit/<%= user.idUsuario %>" method="post">
          <div class="form-group">
            <label for="" class="form-label">Tipo Documento</label>
            <input type="text" class="form-control" value="<%= tipDoc.tipoDocumento %>" disabled />
          </div>
          <div class="form-group">
            <label for="" class="form-label">Numero de documento</label>
            <input
              type="text"
              class="form-control"
              value="<%= user.documento %>"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="" class="form-label">Nombres</label>
            <input
              type="text"
              class="form-control"
              value="<%= user.nombres %>"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="" class="form-label">Apellidos</label>
            <input
              type="text"
              class="form-control"
              value="<%= user.apellidos %>"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="" class="form-label">Correo</label>
            <input
              type="text"
              class="form-control"
              name="correo"
              value="<%= user.correo %>"
            />
          </div>
          <div class="form-group">
            <label for="" class="form-label">Celular</label>
            <input type="text" class="form-control" name="celular" value="<%= user.celular %>" />
          </div>
          <div class="form-group">
            <label for="" class="form-label">Roll</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option value="Mesero">Mesero</option>
              <option value="Administrador">Administrador</option>
              <option value="Cliente">Cliente</option>
              <option value="Recepcionista">Recepcionista</option>
            </select>
          </div>
          <div class="form-group">
            <label for="" class="form-label">Estado</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
            </select>
          </div>
          <br />
          <div class="form-group">
            <button class="btn btn-danger">Guardar</button>
            <a href="/users" class="btn btn-secondary">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include ('../partials/footer') -%>
