<%- include ('../partials/header') -%>
<%- include ('../partials/nav') -%>

<body>

<div class="container p-3">
  <div class="card">
    <div class="d-flex" id="wrapper">
    <div id="page-content-wrapper">
      <div class=" ml-5 mr-5">
        <br />
        <h2>Usuarios</h2>
        <br />
        <section>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Identificador</th>
                <th scope="col">Tipo documento</th>
                <th scope="col">Numero Documento</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Correo</th>
                <th scope="col">Celular</th>
                <th scope="col">Roll</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <% for (let i = 0;  i < users.length;  i++) { %>
            <tbody>
              <tr>
                <th scope="row"> <%= i + 1 %> </th>
                <td> <%= tipDoc[i].tipoDocumento %> </td>
                <td> <%= users[i].documento %> </td>
                <td> <%= users[i].nombres %> </td>
                <td> <%= users[i].apellidos %> </td>
                <td> <%= users[i].correo %> </td>
                <td> <%= users[i].celular %> </td>

                <td> <%= roles[i].roll %> </td>

                <% if (users[i].estado == 1) { %>
                  <td> Activo </td>
                <% }else { %>
                  <td> Inactivo </td>
                <% } %>
                <td>
                  <a class="btn btn-primary" href="/users/edit/<%= users[i].idUsuario %>">Editar</a>
                  <a class="btn btn-danger" href="/">Deshabilitar</a>
                </td>
              </tr>
            </tbody>
            <% } %>
          </table>
        </section>
      </div>
    </div>
  </div>
</div>
</div>
</body>
<%- include ('../partials/footer') -%>
